* {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    line-height: 1.5em;
    margin:0;
    padding:0;
}

body {
    background-color: rgb(119, 126, 43);
    background-repeat: initial;
    overflow:auto;
    position:relative;
}

p {
    font-size: medium;
}

nav, header, footer {
    text-align: center;
    padding-bottom: 2em;
    width:100%;
    height: 100%;
}

article p, footer p, hr {
    margin-top: 2em;
}

nav, footer {
    font-size: .7em;
}

#wrapper {
    width: 80%;
    margin:auto;
}

h1 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgb(253, 253, 253);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding:1em;
    white-space: nowrap;
}

.clearRight {
    clear:right;
}

footer ul {
    margin-top: 2em;
}

img {
    width: 70%;
    height:auto;
}

.center {
    margin:auto;
    width: 60%;
    padding: 50px;
}

.columns {float:right;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


div.expContainer {
    font-size: .8em;
}

div.expContainer>h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    
}

div.expContainer>p {
    width: 50%;
    padding-bottom: 2em;
    font-size: 1.2em;
}

div.expRow {
    margin-bottom: 2em;
}

.textPad {
    padding-right: 2em;
}


.flexContainer {
    clear: right;
    display: flex;
    justify-content: space-between;
}

.flexContainer > div {

    width: 30%;
    padding: 10%;

    background-color: rgba(243, 158, 158, 0.141)
    ;
}

a:link {color:rgb(152, 10, 21)}
a:visited {color:rgb(0, 62, 206)}
a:hover {color:rgb(212, 172, 249)}
a:active {color: rgb(53, 184, 112);}



#wrapper { 
    width: 80%; 
    margin: auto; }
.column { 
    width: 33.33%; 
    float: left; 
    margin: 10%;
}

.column {
    width: 100%;
    float: left;
    margin:0%
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(53, 184, 112);
    }
}